/* This is a CSS comment.*/

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;


  outline: 0px solid red;

}


body {
    background-color: Black;
}

div.links {
    display: block;
    max-width: 600;
    text-align: center;
    color: silver;
}

a {
    color: silver;
}





/*
Comments and shiz

 */
